<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_background"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectMovil">
        <activity
            android:name=".roles.admin.EditarCursoActivity"
            android:exported="false" />
        <activity
            android:name=".roles.admin.DetalleCursoActivity"
            android:exported="false" />
        <activity
            android:name=".roles.admin.GestionCursosActivity"
            android:exported="false" />
        <activity
            android:name=".core.model.ItemCursoAdmin"
            android:exported="false" />
        <activity
            android:name=".core.model.ItemUsuarioAdmin"
            android:exported="false" />
        <activity
            android:name=".roles.admin.GestionUsuariosActivity"
            android:exported="false" />
        <activity
            android:name=".profile.EditarPerfilActivity"
            android:exported="false" />
        <activity
            android:name=".core.adapter.AsistenciaAdapter"
            android:exported="false" />
        <activity
            android:name=".roles.student.MisNotas"
            android:exported="false" />
        <activity
            android:name=".roles.student.MisCursos"
            android:exported="false" />
        <activity
            android:name=".core.adapter.AsignaturaAdapter"
            android:exported="false" />
        <activity
            android:name=".roles.student.MisAsignaturas"
            android:exported="false" />
        <activity
            android:name=".core.model.ItemAsignatura"
            android:exported="false" />
        <activity
            android:name=".home.HomeAdmin"
            android:exported="false" />
        <activity
            android:name=".home.HomeDocente"
            android:exported="false" />
        <activity
            android:name=".roles.student.ListaDeCursosActivity"
            android:exported="false" />
        <activity
            android:name=".core.model.ItemAsistencia"
            android:exported="false" />
        <activity
            android:name=".RegistrarAsistenciaActivity"
            android:exported="false" />
        <activity
            android:name=".roles.student.MisAsistencias"
            android:exported="false" />
        <activity
            android:name=".Menu"
            android:exported="false" />
        <activity
            android:name=".GeofenceService"
            android:exported="false" />
        <activity
            android:name=".messages.MainChatActivity"
            android:exported="false" />
        <activity
            android:name=".profile.PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".roles.student.Calendario"
            android:exported="false" />
        <activity
            android:name=".messages.ChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".home.HomeEstudiante"
            android:exported="false" />
        <activity
            android:name=".auth.NewUserActivity"
            android:exported="false" />
        <activity
            android:name=".auth.RecoverPassActivity"
            android:exported="false" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>